/*colors and fonts*/
body ´{
	background: #F7F9FC;
	color: #black;
	font-family: 'lora;', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	text-align: center;
}
h1 {
	font-family: 'arial', fantasy;
	color: #7ACE98;
	font-size: 20px;
	font-weight: 650;

}
h2, h3, h4, h5 {
	font-family: 'arial', fantasy;
	color: #7ACE98;
	font-size: 15px;
	font-weight: 500;
}
a {
	font-family: 'arial' sans-serif;
	text-decoration: none;
	color: blueviolet;
	font-weight: 600;
	font-size: 16px;
}
	a:hover {color: green;}

/* Custom design with class */
.container {
	width: 750px;
	margin: 40px auto;
}

@media (max-width: 960px) {
	.container{width: 750}
}
@media{max-width: 540px} {
	.container {
		width: 300px;
	}
}


.card-white {
	background-color: whitesmoke;
	padding: 35px;
	box-shadow: 5px 10px 30px goldenrod;
	margin:  20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 45%;
}


btn-blue {
	background-color: #6B72E1;
	color:  whitesmoke;
	padding: 12px 20px;
}
btn-blue:hover {
	background-color: #6B72E1;
	color: whitesmoke;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 40px;
}
/* Design adjustments using id (1% design remaining)*/
#introduction p {
	margin-bottom: 25px;
}

